<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- ※基本共通設定 -->
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    <title> ページの タイトル</title>
    <meta charset="UTF-8">
    <meta property="og:title" content=" ページの タイトル" />
    <meta property="og:type" content=" ページの種類" />
    <meta property="og:url" content="http://ec2-18-182-80-49.ap-northeast-1.compute.amazonaws.com:8080/ohirome/detail" />
    <meta property="og:image" content="http://s3.amazonaws.com/tawake-dev/ktanaka117.jpg" />
    <meta property="og:site_name" content="サイト名" />
    <meta property="og:description" content=" ページのディスクリプション" />

    <!-- ※ Twitter共通設定 -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ohirome_app" />
    <meta name="twitter:player" content="@ohirome_app" />
    <meta name="twitter:url" content="http://ec2-18-182-80-49.ap-northeast-1.compute.amazonaws.com:8080/ohirome/detail" />
    <meta name="twitter:description" content="ページのディスクリプション" />
    <meta name="twitter:image" content="http://s3.amazonaws.com/tawake-dev/ktanaka117.jpg" />
</head>

    <!--&lt;!&ndash;共通項目&ndash;&gt;-->
    <!--<meta property="og:title" content="ページのタイトル" />-->
    <!--<meta property="og:type" content="article" />-->
    <!--<meta property="og:url" content="http://18.182.80.49/ohirome/detail" />-->
    <!--<meta property="og:image" content="http://s3.amazonaws.com/tawake-dev/ktanaka117.jpg" />-->
    <!--<meta property="og:site_name"  content="サイト名" />-->
    <!--<meta property="og:description" content="ページのディスクリプション" />-->

    <!--&lt;!&ndash;Twitter用&ndash;&gt;-->
    <!--<meta name="twitter:card" content="Twitterカードの種類" />-->
    <!--<meta name="twitter:site" content="@ohirome_app" />-->
    <!--<meta name="twitter:title" content="ページのタイトル" />-->
    <!--<meta name="twitter:url" content="http://18.182.80.49/ohirome/detail" />-->
    <!--<meta name="twitter:description" content="ページのディスクリプション" />-->
    <!--<meta name="twitter:image" content="http://s3.amazonaws.com/tawake-dev/ktanaka117.jpg" />-->
<!--</head>-->
<body>

<a th:href="@{/}">top</a>
<a th:href="@{/detail/register}">register</a>

<img src="https://s3-ap-northeast-1.amazonaws.com/ohirome-app/%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%8F%E3%82%9A%E3%83%BC.jpg">
</body>
</html>
